.wrapper {
    padding: 5rem;
    /*max-width: 80%;*/
    background: rgb(106, 162, 86);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
}

.textBlock {
    max-width: 20rem;
    border: 1px solid #fff;
}
