.wrapper {
    width: 80%;
    padding: 0 5rem;
    background: rgba(250, 250, 250, .5);

}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-left: 2rem;
    font-size: 1.5rem;
}

.nav, .nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    padding: 0;
}

.nav > ul li {
    margin-left: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    list-style-type: none;
}

@media screen and (max-width: 992px) {
    .nav, .nav > ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #fff;
        padding: 0;
    }
}
