.wrapper {
    padding: 0 5rem;
    /*max-width: 80%;*/
    text-align: center;
    background: rgb(65, 109, 200);
}

.title {
    margin: 0;
    font-size: 3rem
}

.work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


