.wrapper {
    margin: 0 auto;
    width: 20rem;
    background: rgba(88, 47, 55, .3);
    border: 1px solid #fff;

}

.logo {
    max-width: 4rem;
}

.title {
    margin: 2rem 0;
    font-size: 2rem;
}

.text {
    border: 1px solid #fff;

}

@media screen and (max-width: 400px) {
    .wrapper {
        margin-bottom: 1rem;
    }
}
