/*html {*/
/*    font-size: 10px;*/
/*}*/

/*body {*/
/*    max-width: 100%;*/
/*    margin: 0 auto;*/
/*}*/
select{
    margin: 0;
}
@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    body {
        max-width: 100%;
        margin: 0 auto;
    }
}
