.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120rem;
    background: rgba(93, 19, 89,.3);
}



.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #fff;
    margin-bottom: 2rem;
}

